[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-koa/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-microservices-koa/orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservices-koa/products-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nest-microservices-koa/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nest-microservices-koa/auth-ms.git
